:root {
  --background-color: #e5e5e5;
  --body-color: #fff;
  --headings-color: #172b4d;
  --primary-color: #6070ff;
  --text-color: #344563;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 0;
  height: 100vh;
}

h1,
h2,
h3 {
  color: var(--headings-color);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 4rem;
  line-height: 5.3rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 4.4rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
}

/* Header Section */

header {
  align-items: center;
  background: var(--body-color);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

/* Links and Navigation */

.logo {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  margin-left: 2rem;
  margin-top: 1.8rem;
  padding: 1.2rem 0.2rem;
  text-decoration: none;
}

nav .fa {
  color: var(--primary-color);
  margin-top: 1.8rem;
  margin-right: 2rem;
}

/* Headline Section */
.headline-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--body-color) url(/images/header-shapes.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  border-bottom-left-radius: 75px;
}

.headline-section h1 {
  bottom: 0.5rem;
  margin-left: 2.4rem;
  position: relative;
}

.headline-section p {
  bottom: 0.5rem;
  margin-left: 2.4rem;
  margin-top: 0;
  position: relative;
}

/* For Works Section */
.card__body p {
  bottom: 7.3rem;
  position: relative;
}

/* --------- */

/* For About Section */
.about-section p {
  bottom: 3rem;
  margin-left: 2.4rem;
  margin-top: 0;
  position: relative;
}

.about-section p:last-of-type {
  bottom: 1.5rem;
  color: #7f8cff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0;
  position: relative;
}

/* -------- */
.headline-section p:last-of-type {
  bottom: 0.9rem;
  color: #7f8cff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0;
  position: relative;
}

.header-icons {
  align-items: center;
  bottom: 1.5rem;
  display: flex;
  flex-direction: row;
  left: -2.8rem;
  list-style: none;
  margin-top: 0;
  position: relative;
}

.headline-section ul li a {
  padding: 1rem;
}

/* Works Section */

.works {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  justify-items: center;
}

.card {
  background: var(--body-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  height: 57rem;
  width: 34rem;
}

.card--two {
  height: 61rem;
}

.card__image {
  align-items: flex-start;
  display: flex;
  margin: 1.5rem;
}

.card__title {
  bottom: 3.5rem;
  display: flex;
  justify-content: flex-start;
  left: 1.5rem;
  position: relative;
}

.card__subtitle {
  align-items: center;
  bottom: 5rem;
  display: flex;
  justify-content: space-around;
  left: 1.2rem;
  position: relative;
  width: 24rem;
}

.light-text {
  color: #7a869a;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.6rem;
}

.categories {
  align-items: center;
  bottom: 9rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  left: -4.2rem;
  list-style: none;
  position: relative;
}

.categories li {
  background: #ebebff;
  border-radius: 10px;
  color: #6070ff;
  font-size: 1.2rem;
  padding: 1px 10px;
}

.btn {
  background: var(--body-color);
  border-radius: 15px;
  border: 1px solid #396df2;
  bottom: 8rem;
  color: #396df2;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  outline: none;
  padding: 1.3rem 0.3rem;
  position: relative;
  text-align: center;
  width: 12rem;
}

.btn:hover {
  background: var(--primary-color);
  box-shadow: 3px 6px 16px rgba(64, 83, 252, 0.24);
  color: var(--body-color);
}

.btn:active {
  background: #2230d2;
}

.btn:disabled {
  background: #5e6c84;
}

/* About Section */
.about-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--body-color);
  margin-top: 10rem;
  height: 130vh;
  width: 100vw;
  border-top-right-radius: 75px;
}

.about-section h2 {
  top: -3rem;
  margin-left: 2.4rem;
  position: relative;
  font-size: 4rem;
}

.icon-list {
  align-items: center;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  left: -2.8rem;
  list-style: none;
  margin-top: 0;
  position: relative;
}

.about-section ul li a {
  padding: 1rem;
}

.btn-about {
  background: var(--body-color);
  border-radius: 15px;
  border: 1px solid #396df2;
  bottom: 1rem;
  left: 1.7rem;
  color: #396df2;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  outline: none;
  padding: 1rem 0.3rem;
  position: relative;
  text-align: center;
  width: 16rem;
  white-space: nowrap;
}

/* Languages Section */

.language-title {
  align-items: center;
  display: inline-flex;
  font-size: 2rem;
  font-weight: 500;
  justify-content: space-around;
  left: -1rem;
  position: relative;
  top: 4.5rem;
  padding-bottom: 2rem;
}

.language-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding: 1.5rem;
}

.language-list li {
  align-items: center;
  background: #f7f7f9;
  border-radius: 0.5rem;
  bottom: -2.5rem;
  color: #253858;
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 10px;
  left: 2.5rem;
  padding: 1rem;
  position: relative;
  width: 85%;
}

.frameworks-title {
  align-items: center;
  display: inline-flex;
  font-size: 2rem;
  font-weight: 500;
  justify-content: space-around;
  left: -1rem;
  position: relative;
  top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.solid {
  position: relative;
  top: 2rem;
  border-top: 1px solid #dfe1e6;
  width: 80%;
}

.skills-title {
  align-items: center;
  display: inline-flex;
  font-size: 2rem;
  font-weight: 500;
  justify-content: space-around;
  left: -1rem;
  position: relative;
  top: 2rem;
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.skills-title .fa {
  position: relative;
  left: 7.7rem;
}

.form-container {
  background: #fff;
  margin-top: 0;
  padding-bottom: 2rem;
  position: relative;
  top: -4.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4.5rem;
  background: var(--primary-color) url(/images/contact-form-shapes-mobile.svg);
  background-position: right;
  background-size: 65%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  border-top-left-radius: 75px;
}

.contact-form h2 {
  color: var(--body-color);
  position: relative;
  top: 1rem;
  font-size: 4rem;
  letter-spacing: 0.03rem;
}

.contact-form p {
  color: #ebebff;
  line-height: 2.8rem;
  text-align: center;
  font-size: 2rem;
  margin: 2.6rem;
  position: relative;
  top: -1rem;
  letter-spacing: 0.03rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3.6rem;
  position: relative;
  bottom: 1rem;
}

form ul li {
  list-style: none;
}

input[type="text"],
input[type="email"] {
  width: 35rem;
  border: none;
  outline: none;
  padding: 1.5rem 1rem;
  margin-bottom: 1.2rem;
  border-radius: 5px;
  font-size: 1.7rem;
  color: var(--headings-color);
}

textarea {
  width: 35rem;
  height: 20rem;
  resize: none;
  border-radius: 8px;
  color: #b3bac5;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.04rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
}

.btn-contact {
  position: relative;
  bottom: 0rem;
  left: -8rem;
  letter-spacing: 0.05rem;
  white-space: nowrap;
  width: 15rem;
  text-align: center;
}
