:root {
  --background-color: #e5e5e5;
  --body-color: #fff;
  --headings-color: #172b4d;
  --primary-color: #6070ff;
  --text-color: #344563;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--headings-color);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 4rem;
  line-height: 5.3rem;
}

h2 {
  font-size: 2.7rem;
  line-height: 4.4rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
}

form ul li {
  list-style: none;
}

/* Header Section */

header {
  align-items: center;
  background: var(--body-color);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8%;
  z-index: 20;
}

/* Links and Navigation */

.logo {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  margin-left: 2rem;
  margin-top: 1.8rem;
  padding: 1.2rem 0.2rem;
  text-decoration: none;
}

.nav-bar {
  display: none;
}

.nav-links {
  position: absolute;
  background: #6070ffe6;
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 420px;
  top: 0;
  right: -420px;
  text-align: left;
  z-index: 2;
  transition: 1s;
}

.categories li {
  background: #ebebff;
  border-radius: 10px;
  color: #6070ff;
  font-size: 1.2rem;
  padding: 1px 10px;
}

.language-list li {
  align-items: center;
  background: #f7f7f9;
  border-radius: 0.5rem;
  bottom: -2.5rem;
  color: #253858;
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 10px;
  left: 2.5rem;
  padding: 1rem;
  position: relative;
  width: 85%;
}

.modal-categories li {
  background: #ebebff;
  border-radius: 10px;
  color: #6070ff;
  font-size: 1.3rem;
  padding: 1px 5px;
  margin-bottom: 15px;
}

.nav-links ul li {
  list-style: none;
  position: relative;
  top: 2rem;
}

.nav-links ul li a {
  text-decoration: none;
  font-size: 2.4rem;
  color: var(--background-color);
  line-height: 8rem;
  position: relative;
  letter-spacing: 2.2px;
  font-weight: 700;
  padding-left: 2.5rem;
}

nav .fa-times {
  color: var(--background-color);
  position: relative;
  left: 36rem;
  margin: 1rem;
  font-size: 2.2rem;
  cursor: pointer;
  padding-right: 1rem;
  padding-top: 0.8rem;
}

nav .fa-bars {
  color: var(--primary-color);
  font-size: 1.7rem;
  position: relative;
  top: 1rem;
  display: flex;
  left: 10.5rem;
  cursor: pointer;
  margin: 1rem;
}

/* Headline Section */

.headline-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--body-color) url(https://shaqdeff.github.io/Shaquille-Portfolio//images/header-shapes.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 97vh;
  border-bottom-left-radius: 75px;
}

.headline-section h1 {
  bottom: 0.5rem;
  margin-left: 2.4rem;
  position: relative;
  font-size: 4.5rem;
  padding-right: 1rem;
}

.intro-heading {
  bottom: 5rem;
  margin-left: 2.4rem;
  position: relative;
}

.headline-section p {
  bottom: 0.5rem;
  margin-left: 2.4rem;
  margin-right: 2rem;
  margin-top: 0;
  position: relative;
  font-size: 1.5rem;
}

/* For Works Section */
.card__body p {
  bottom: 7.3rem;
  position: relative;
}

/* --------- */

/* For About Section */
.about-section p {
  bottom: 3rem;
  margin-left: 2.4rem;
  margin-top: 0;
  position: relative;
}

.contact-form p {
  color: #ebebff;
  line-height: 2.8rem;
  text-align: center;
  font-size: 2rem;
  margin: 2.6rem;
  position: relative;
  top: -1rem;
  letter-spacing: 0.03rem;
}

.header-icons {
  align-items: center;
  bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  left: -2.8rem;
  list-style: none;
  margin-top: 0;
  position: relative;
}

.headline-section ul li a {
  padding: 1rem;
}

/* Works Section */

.works {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  justify-items: center;
}

.card {
  background: var(--body-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  height: 80%;
  width: 80vw;
}

.card--two {
  height: 80%;
}

@media screen and (min-width: 480px) {
  .card {
    background: var(--body-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    height: 85%;
    width: 80vw;
  }

  .card--two {
    height: 85%;
  }
}

@media screen and (max-width: 768px) {
  .card__image {
    align-items: flex-start;
    display: flex;
    margin: 1.5rem;
  }

  .card__image2 {
    display: none;
  }

  .card__title3 {
    display: none;
  }

  .card__title4 {
    display: none;
  }

  .title__desk {
    display: none;
  }

  .title__desk2 {
    display: none;
  }

  .subtitle__desk {
    display: none;
  }

  .card__subtitle3 {
    display: none;
  }

  .para-desk {
    display: none;
  }

  .categories-desk {
    display: none;
  }
}

.card__title {
  bottom: 3.5rem;
  display: flex;
  justify-content: flex-start;
  left: 1.5rem;
  position: relative;
}

.card__title2 {
  bottom: 3.5rem;
  display: flex;
  justify-content: flex-start;
  left: 1.5rem;
  position: relative;
}

.card__subtitle {
  align-items: center;
  bottom: 5rem;
  display: flex;
  justify-content: space-around;
  left: 1.2rem;
  position: relative;
  width: 24rem;
}

.card__subtitle2 {
  align-items: center;
  bottom: 5rem;
  display: flex;
  justify-content: space-around;
  left: 1.2rem;
  position: relative;
  width: 24rem;
}

.light-text {
  color: #7a869a;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.6rem;
}

.categories {
  align-items: center;
  bottom: 9rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  left: -4.2rem;
  list-style: none;
  position: relative;
}

.btn {
  background: none;
  border-radius: 15px;
  border: 1px solid #396df2;
  bottom: 8rem;
  color: #396df2;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  outline: none;
  padding: 1.3rem 0.3rem;
  position: relative;
  text-align: center;
  width: 12rem;
  cursor: pointer;
}

.btn:hover {
  background: var(--primary-color);
  box-shadow: 3px 6px 16px rgba(64, 83, 252, 0.24);
  color: var(--body-color);
}

.btn:active {
  background: #2230d2;
}

.btn:disabled {
  background: #5e6c84;
}

/* Modal Window Mobile */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%) scale(0);
  transition: 400ms ease-in-out;
  border: 1px solid rgb(247, 247, 247);
  border-radius: 1rem;
  z-index: 10;
  background: var(--body-color);
  width: 115.6rem;
  max-width: 80%;
  height: 116.3rem;
  max-height: 87%;
  overflow-y: auto;
  overflow-x: hidden;
}

.modal.active {
  transform: translate(-50%, -45%) scale(1);
}

.modal-header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.title {
  position: relative;
  bottom: 25px;
  font-size: 2.5rem;
  white-space: nowrap;
}

.subtitle {
  gap: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 1.9rem;
  position: fixed;
  top: 5rem;
  left: 2.3rem;
  max-width: 75%;
}

.close-btn {
  border: none;
  background: none;
  font-size: 3rem;
  font-weight: 500;
  color: #67798e;
  outline: none;
  cursor: pointer;
  position: relative;
  bottom: 2.4rem;
  left: 1rem;
  padding-right: 0.3rem;
  transition: background 0.7s ease-in;
}

.close-btn:hover {
  color: var(--text-color);
}

.modal-body {
  padding: 1rem 1.5rem;
}

.modal-body img {
  width: 120.8rem;
  height: 155px;
  max-width: 95%;
  max-height: 70%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  margin-top: 5rem;
  border-radius: 10px;
}

.modal-desc {
  display: flex;
  flex-direction: column;
}

.modal-desc p {
  position: relative;
  bottom: 8rem;
  padding: 0 1rem;
  font-size: 1.5rem;
}

.modal-categories {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 7%;
  align-content: flex-start;
  position: relative;
  right: 3rem;
  bottom: 9rem;
  border-bottom: 2px solid #ebecf0;
  padding-bottom: 1rem;
  padding-right: 1rem;
  width: 650px;
  max-width: 100%;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-left: 6.5rem;
}

.modal-btn {
  background: none;
  border-radius: 10px;
  border: 1px solid #396df2;
  color: #396df2;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  outline: none;
  padding: 0.75rem 0.8rem;
  position: relative;
  bottom: 10rem;
  right: 4.5rem;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7%;
  cursor: pointer;
  transition: background 0.4s ease-in;
}

.modal-btn:hover {
  background: var(--primary-color);
  box-shadow: 3px 6px 16px rgba(64, 83, 252, 0.24);
  color: var(--body-color);
}

.modal-btn:active {
  background: #2230d2;
}

.modal-btn:disabled {
  background: #5e6c84;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 400ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c1c7d0cf;
  backdrop-filter: blur(5px);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* About Section */
.about-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--body-color);
  margin-top: 10rem;
  padding-top: 25rem;
  padding-bottom: 25rem;
  height: 150vh;
  border-top-right-radius: 75px;
}

.about-section h2 {
  top: -3rem;
  margin-left: 2.4rem;
  position: relative;
  font-size: 4rem;
}

.icon-list {
  align-items: center;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  left: -2.8rem;
  list-style: none;
  margin-top: 0;
  position: relative;
}

.about-section ul li a {
  padding: 1rem;
}

.btn-about {
  background: var(--body-color);
  border-radius: 15px;
  border: 1px solid #396df2;
  bottom: 1rem;
  left: 1.7rem;
  color: #396df2;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  outline: none;
  padding: 1rem 0.3rem;
  position: relative;
  text-align: center;
  width: 16rem;
  white-space: nowrap;
}

/* Languages Section */

.language-title {
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  justify-content: space-around;
  left: -1rem;
  position: relative;
  top: 4.5rem;
}

.language-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding: 1.5rem;
}

.frameworks-title {
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  justify-content: space-around;
  left: -1rem;
  position: relative;
  top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.solid {
  position: relative;
  top: 2rem;
  border-top: 1px solid #dfe1e6;
  width: 80%;
}

.skills-title {
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  justify-content: space-around;
  left: -3rem;
  position: relative;
  top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.skills-title .fa {
  position: relative;
  left: 3.7rem;
}

.form-container {
  background: #fff;
  position: relative;
  top: 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--primary-color) url(https://shaqdeff.github.io/Shaquille-Portfolio//images/contact-form-shapes-mobile.svg);
  background-position: right;
  background-size: 65%;
  background-repeat: no-repeat;
  height: 120vh;
  width: 100vw;
  border-top-left-radius: 75px;
  padding-bottom: 4rem;
}

.contact-form h2 {
  color: var(--body-color);
  position: relative;
  top: 1rem;
  font-size: 4rem;
  letter-spacing: 0.03rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3.6rem;
  position: relative;
  bottom: 1rem;
  margin-bottom: 10rem;
}

input[type="text"],
input[type="email"] {
  width: 35rem;
  border: none;
  outline: none;
  padding: 1.5rem 1rem;
  margin-bottom: 1.2rem;
  border-radius: 5px;
  font-size: 1.7rem;
  color: var(--headings-color);
}

#err-msg {
  color: rgb(135, 1, 1);
  font-size: 1.6rem;
}

textarea {
  width: 35rem;
  height: 20rem;
  resize: none;
  border-radius: 8px;
  color: #b3bac5;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.04rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
}

.btn-contact {
  position: relative;
  bottom: 0;
  left: -8rem;
  letter-spacing: 0.05rem;
  white-space: nowrap;
  width: 15rem;
  text-align: center;
  background-color: var(--body-color);
}

.about-section p:last-of-type {
  bottom: 1.5rem;
  color: #7f8cff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0;
  position: relative;
}

.headline-section p:last-of-type {
  bottom: 0.3rem;
  color: #7f8cff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
    line-height: 2.8rem;
    height: 100vh;
  }

  h1,
  h2 {
    color: #091e42;
    transition: transform 0.5s;
  }

  h1 {
    font-size: 5.3rem;
    line-height: 6rem;
    letter-spacing: 0.05rem;
  }

  h2 {
    font-size: 4.5rem;
    line-height: 5.2rem;
  }

  h3 {
    font-size: 1.9rem;
    line-height: 2.4rem;
    font-weight: 500;
  }

  header {
    height: 7rem;
    padding-bottom: 2.5rem;
  }

  nav {
    margin-right: 9rem;
    margin-top: 2.5rem;
  }

  /* Animations and Transformations */

  .nav-bar li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary-color);
    display: block;
    margin: auto;
    transition: 0.6s;
  }

  .nav-bar li:hover::after {
    width: 100%;
  }

  .logo {
    margin-left: 15rem;
    margin-top: 2.5rem;
    padding: 0;
  }

  .logo:hover {
    color: #7783f0;
  }

  .move-text:hover {
    transform: translate(30px);
  }

  .text-scale:hover {
    transform: scale(1.05);
  }

  .image-scale:hover {
    transform: scale(1.05);
  }

  @keyframes rotate {
    0% {
      transform: rotate(45deg);
    }

    25% {
      transform: rotate(90deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .animation-rotate {
    animation: rotate 0.5s linear 1s;
  }

  @keyframes slide {
    0% {
      transform: translate(750px);
    }

    15% {
      transform: perspective(-200px) translateZ(-50px);
      color: #838ffc;
    }

    25% {
      transform: perspective(-200px) translateZ(-100px);
      color: #aab3ff;
    }

    50% {
      transform: perspective(-200px) translateZ(-150px);
      color: #d3d7fc;
    }

    100% {
      transform: scale(1.2);
      color: #ebedff;
    }
  }

  .animation-slide {
    animation: slide 0.7s ease-out 1.3s;
  }

  /* ---------- */

  .nav-links {
    display: none;
  }

  .nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 4.5rem;
  }

  .nav-bar li {
    position: relative;
    top: -1.2rem;
    padding-right: 6rem;
  }

  .nav-bar li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 2rem;
  }

  nav .fa {
    display: none;
  }

  .headline-section {
    height: 90vh;
    background: var(--body-color) url(https://shaqdeff.github.io/Shaquille-Portfolio//images/desktop-header-bg.svg);
    background-position: center;
    background-size: 100% 99%;
    border-bottom-left-radius: 175px;
    margin-top: 6.5rem;
    width: 100vw;
  }

  .headline-section h1 {
    margin-left: 40rem;
    top: -2rem;
  }

  .headline-section p {
    margin-left: 40rem;
    width: 45%;
    top: -2rem;
    letter-spacing: 0.03rem;
    font-size: 2rem;
    transition: transform 0.5s;
  }

  .header-icons {
    margin-left: 37.5rem;
    top: -2rem;
  }

  .works {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 10rem;
  }

  .card {
    width: 83vw;
    height: 85%;
    display: flex;
    flex-direction: row;
    border-radius: 32px;
    margin-bottom: 5rem;
    transition: 0.4s;
  }

  .card:hover {
    box-shadow: 3px 5px 30px rgba(64, 83, 252, 0.24);
  }

  .card__image2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem;
    transition: transform 0.5s;
    width: 50%;
  }

  .title__desk {
    display: flex;
    left: 1rem;
    position: relative;
    top: -3rem;
    height: 10%;
    margin-bottom: 4rem;
  }

  .title__desk2 {
    display: flex;
    left: 1rem;
    position: relative;
    top: -6rem;
    height: 10%;
    width: 90%;
  }

  .card-items {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2rem;
    top: 6rem;
    width: 75%;
  }

  .subtitle__desk {
    gap: 0.7vw;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 1.2rem;
    bottom: 5rem;
    width: 75%;
  }

  .card__subtitle3 {
    gap: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.9rem;
    position: relative;
    top: -5rem;
    left: 1.3rem;
    width: 75%;
  }

  .light-text {
    color: #6b778c;
    font-weight: 400;
  }

  .para-desk {
    position: relative;
    left: -0.5rem;
    width: 90%;
    font-weight: 400;
    transition: transform 0.5s;
  }

  .para-desk2 {
    position: relative;
    left: -0.5rem;
    width: 62rem;
    font-weight: 400;
    transition: transform 0.5s;
  }

  .categories-desk {
    align-items: center;
    bottom: 9rem;
    display: flex;
    flex-direction: row;
    gap: 5%;
    left: -4.5rem;
    list-style: none;
    position: relative;
    white-space: nowrap;
    width: 90%;
  }

  .categories-desk li {
    background: #ebebff;
    border-radius: 10px;
    color: #6070ff;
    font-size: 1.2rem;
    padding: 1px 3.5px;
  }

  .btn {
    font-size: 1.7rem;
    left: -0.5rem;
    margin-top: 1rem;
    width: 13rem;
    transition: background 0.4s ease-in;
  }

  .card--two {
    display: flex;
    flex-direction: row-reverse;
    width: 83vw;
    height: 85%;
    border-radius: 32px;
    margin-bottom: 5rem;
  }

  .card__title3 {
    display: flex;
    left: 1rem;
    bottom: 7rem;
    position: relative;
    height: 10%;
  }

  .card-items2 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5rem;
    top: 12rem;
    width: 75%;
  }

  .card-items3 {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 1.2rem;
    top: 8rem;
    width: 75%;
  }

  /* Modal Window Desktop */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%) scale(0);
    transition: 400ms ease-in-out;
    border: 1px solid rgb(247, 247, 247);
    border-radius: 1.6rem;
    z-index: 10;
    background: var(--body-color);
    width: 115.6rem;
    max-width: 80%;
    height: 116.3rem;
    max-height: 87%;
    overflow-y: auto;
  }

  .modal.active {
    transform: translate(-50%, -45%) scale(1);
  }

  .modal-header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .title {
    position: relative;
    bottom: 25px;
    font-size: 3.5rem;
  }

  .subtitle {
    gap: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.9rem;
    position: fixed;
    top: 6rem;
    left: 2.3rem;
    max-width: 75%;
  }

  .close-btn {
    border: none;
    background: none;
    font-size: 3.2rem;
    font-weight: 600;
    color: #67798e;
    outline: none;
    cursor: pointer;
    position: relative;
    bottom: 2.5rem;
    padding-right: 1rem;
    transition: background 0.7s ease-in;
  }

  .close-btn:hover {
    color: var(--text-color);
  }

  .modal-body {
    padding: 1rem 1.5rem;
  }

  .modal-body img {
    width: 120.8rem;
    height: 470px;
    max-width: 80%;
    max-height: 70%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -12%);
    object-fit: cover;
    margin-top: 5rem;
  }

  .modal-desc {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .modal-desc p {
    width: 70%;
    position: relative;
    bottom: 6rem;
    padding: 4.5rem;
  }

  .modal-categories {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7%;
    align-content: flex-start;
    position: relative;
    bottom: 0.3rem;
    border-bottom: 2px solid #ebecf0;
    padding-bottom: 1rem;
    height: 10%;
    width: 28%;
  }

  .modal-categories li {
    background: #ebebff;
    border-radius: 10px;
    color: #6070ff;
    font-size: 1.3rem;
    padding: 1px 5px;
    margin-bottom: 15px;
  }

  .modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    margin-left: 6.5rem;
  }

  .modal-btn {
    background: none;
    border-radius: 10px;
    border: 1px solid #396df2;
    color: #396df2;
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    outline: none;
    padding: 1rem 0.3rem;
    position: relative;
    bottom: 30rem;
    right: 5rem;
    text-align: center;
    width: 12%;
    white-space: normal;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 7%;
    cursor: pointer;
    transition: background 0.4s ease-in;
  }

  .modal-btn:hover {
    background: var(--primary-color);
    box-shadow: 3px 6px 16px rgba(64, 83, 252, 0.24);
    color: var(--body-color);
  }

  .modal-btn:active {
    background: #2230d2;
  }

  .modal-btn:disabled {
    background: #5e6c84;
  }

  #overlay {
    position: fixed;
    opacity: 0;
    transition: 400ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #c1c7d0cf;
    backdrop-filter: blur(5px);
    pointer-events: none;
  }

  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .card__image {
    display: none;
  }

  .card__title {
    display: none;
  }

  .card__subtitle {
    display: none;
  }

  .card__subtitle2 {
    display: none;
  }

  .card__subtitlemobi {
    display: none;
  }

  .para-mobile {
    display: none;
  }

  .categories {
    display: none;
  }

  .card__title2 {
    display: none;
  }

  .about-section {
    margin-top: 15rem;
    border-top-right-radius: 175px;
    height: 125vh;
    width: 100vw;
  }

  .about-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 22rem;
    left: 14rem;
    width: 30%;
  }

  .about-section h2 {
    font-size: 5.3rem;
    line-height: 6rem;
    letter-spacing: 0.05rem;
    margin-left: 1.5rem;
  }

  .icon-list {
    margin-left: -0.3rem;
  }

  .btn-about {
    width: 17rem;
    height: 6rem;
    margin-left: 1.7rem;
  }

  .skills-container {
    width: 50%;
    position: relative;
    left: 80rem;
    bottom: 35rem;
  }

  .language-title {
    display: flex;
    font-size: 2.2rem;
    width: 50%;
  }

  .language-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    left: -5rem;
    width: 50%;
  }

  .language-list li {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .frameworks-title {
    display: flex;
    font-size: 2.2rem;
    width: 50%;
  }

  .solid {
    width: 70%;
    position: relative;
    left: -14rem;
  }

  .skills-title {
    display: flex;
    font-size: 2.2rem;
    width: 50.5%;
  }

  .form-container {
    height: 120%;
    width: 100vw;
    display: flex;
    justify-content: center;
  }

  .contact-form {
    background: var(--primary-color) url(https://shaqdeff.github.io/Shaquille-Portfolio//images/contact-form-bg.svg);
    background-size: cover;
    height: 100%;
    width: 100vw;
    border-top-left-radius: 175px;
    padding-top: 15rem;
  }

  .contact-form h2 {
    font-size: 5.3rem;
    line-height: 6rem;
    letter-spacing: 0.05rem;
  }

  .contact-form .para-desk {
    width: 50%;
  }

  input[type="text"],
  input[type="email"] {
    width: 50rem;
    margin-bottom: 2rem;
  }

  textarea {
    width: 50rem;
  }

  .btn-contact {
    left: 1.2rem;
    width: 16rem;
    background: var(--body-color);
  }

  .btn-contact:hover {
    background: #7f8cff;
    box-shadow: 3px 6px 16px rgba(64, 83, 252, 0.24);
    color: var(--body-color);
  }

  .about-section p:last-of-type {
    margin-left: 2rem;
    font-size: 2rem;
  }

  .headline-section p:last-of-type {
    margin-left: 40rem;
    font-size: 2rem;
  }
}
