:root {
  --background-color: #e5e5e5;
  --body-color: #fff;
  --headings-color: #172b4d;
  --primary-color: #6070ff;
  --text-color: #344563;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--headings-color);
  font-weight: 700;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 4rem;
  line-height: 5.3rem;
}

h2 {
  font-size: 3.2rem;
  line-height: 4.4rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
}

form ul li {
  list-style: none;
}

/* Header Section */

header {
  align-items: center;
  background: var(--body-color);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Links and Navigation */

.logo {
  color: var(--primary-color);
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  margin-left: 2rem;
  margin-top: 1.8rem;
  padding: 1.2rem 0.2rem;
  text-decoration: none;
}

.nav-links {
  display: none;
}

nav .fa {
  color: var(--primary-color);
  margin-top: 1.8rem;
  margin-right: 2rem;
}

/* Headline Section */

.headline-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--body-color) url(https://shaqdeff.github.io/Shaquille-Portfolio//images/header-shapes.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 97vh;
  border-bottom-left-radius: 75px;
}

.headline-section h1 {
  bottom: 0.5rem;
  margin-left: 2.4rem;
  position: relative;
  font-size: 4.5rem;
  padding-right: 1rem;
}

.intro-heading {
  bottom: 5rem;
  margin-left: 2.4rem;
  position: relative;
}

.headline-section p {
  bottom: 0.5rem;
  margin-left: 2.4rem;
  margin-right: 2rem;
  margin-top: 0;
  position: relative;
  font-size: 1.5rem;
}

/* For Works Section */
.card__body p {
  bottom: 7.3rem;
  position: relative;
}

/* --------- */

/* For About Section */
.about-section p {
  bottom: 3rem;
  margin-left: 2.4rem;
  margin-top: 0;
  position: relative;
}

.contact-form p {
  color: #ebebff;
  line-height: 2.8rem;
  text-align: center;
  font-size: 2rem;
  margin: 2.6rem;
  position: relative;
  top: -1rem;
  letter-spacing: 0.03rem;
}

.header-icons {
  align-items: center;
  bottom: 0.8rem;
  display: flex;
  flex-direction: row;
  left: -2.8rem;
  list-style: none;
  margin-top: 0;
  position: relative;
}

.headline-section ul li a {
  padding: 1rem;
}

/* Works Section */

.works {
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  justify-items: center;
}

.card {
  background: var(--body-color);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  height: 57rem;
  width: 34rem;
}

.card--two {
  height: 61rem;
}

.card--four {
  height: 61rem;
}

@media screen and (max-width: 768px) {
  .card__image {
    align-items: flex-start;
    display: flex;
    margin: 1.5rem;
  }

  .card__image2 {
    display: none;
  }

  .card__title3 {
    display: none;
  }

  .card__title4 {
    display: none;
  }

  .title__desk {
    display: none;
  }

  .subtitle__desk {
    display: none;
  }

  .card__subtitle3 {
    display: none;
  }

  .para-desk {
    display: none;
  }

  .categories-desk {
    display: none;
  }
}

.card__title {
  bottom: 3.5rem;
  display: flex;
  justify-content: flex-start;
  left: 1.5rem;
  position: relative;
}

.card__title2 {
  bottom: 3.5rem;
  display: flex;
  justify-content: flex-start;
  left: 1.5rem;
  position: relative;
}

.card__subtitle {
  align-items: center;
  bottom: 5rem;
  display: flex;
  justify-content: space-around;
  left: 1.2rem;
  position: relative;
  width: 24rem;
}

.card__subtitle2 {
  align-items: center;
  bottom: 5rem;
  display: flex;
  justify-content: space-around;
  left: 1.2rem;
  position: relative;
  width: 24rem;
}

.light-text {
  color: #7a869a;
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1.6rem;
}

.categories {
  align-items: center;
  bottom: 9rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  left: -4.2rem;
  list-style: none;
  position: relative;
}

.categories li {
  background: #ebebff;
  border-radius: 10px;
  color: #6070ff;
  font-size: 1.2rem;
  padding: 1px 10px;
}

.btn {
  background: var(--body-color);
  border-radius: 15px;
  border: 1px solid #396df2;
  bottom: 8rem;
  color: #396df2;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  outline: none;
  padding: 1.3rem 0.3rem;
  position: relative;
  text-align: center;
  width: 12rem;
}

.btn:hover {
  background: var(--primary-color);
  box-shadow: 3px 6px 16px rgba(64, 83, 252, 0.24);
  color: var(--body-color);
}

.btn:active {
  background: #2230d2;
}

.btn:disabled {
  background: #5e6c84;
}

/* About Section */
.about-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--body-color);
  margin-top: 10rem;
  height: 130vh;
  border-top-right-radius: 75px;
}

.about-section h2 {
  top: -3rem;
  margin-left: 2.4rem;
  position: relative;
  font-size: 4rem;
}

.icon-list {
  align-items: center;
  bottom: 1rem;
  display: flex;
  flex-direction: row;
  left: -2.8rem;
  list-style: none;
  margin-top: 0;
  position: relative;
}

.about-section ul li a {
  padding: 1rem;
}

.btn-about {
  background: var(--body-color);
  border-radius: 15px;
  border: 1px solid #396df2;
  bottom: 1rem;
  left: 1.7rem;
  color: #396df2;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 0.03rem;
  outline: none;
  padding: 1rem 0.3rem;
  position: relative;
  text-align: center;
  width: 16rem;
  white-space: nowrap;
}

/* Languages Section */

.language-title {
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  justify-content: space-around;
  left: -1rem;
  position: relative;
  top: 4.5rem;
  width: 40rem;
}

.language-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
  padding: 1.5rem;
}

.language-list li {
  align-items: center;
  background: #f7f7f9;
  border-radius: 0.5rem;
  bottom: -2.5rem;
  color: #253858;
  display: flex;
  font-size: 1.5rem;
  font-weight: 500;
  gap: 10px;
  left: 2.5rem;
  padding: 1rem;
  position: relative;
  width: 85%;
}

.frameworks-title {
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  justify-content: space-around;
  left: -1rem;
  position: relative;
  top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 40rem;
}

.solid {
  position: relative;
  top: 2rem;
  border-top: 1px solid #dfe1e6;
  width: 80%;
}

.skills-title {
  align-items: center;
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  justify-content: space-around;
  left: 0.5rem;
  position: relative;
  top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 26.3rem;
}

.skills-title .fa {
  position: relative;
  left: 10.5rem;
}

.form-container {
  background: #fff;
  margin-top: 0;
  padding-bottom: 2rem;
  position: relative;
  top: -4.3rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4.3rem;
  background: var(--primary-color) url(https://shaqdeff.github.io/Shaquille-Portfolio//images/contact-form-shapes-mobile.svg);
  background-position: right;
  background-size: 65%;
  background-repeat: no-repeat;
  height: 100vh;
  border-top-left-radius: 75px;
}

.contact-form h2 {
  color: var(--body-color);
  position: relative;
  top: 1rem;
  font-size: 4rem;
  letter-spacing: 0.03rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 3.6rem;
  position: relative;
  bottom: 1rem;
}

input[type="text"],
input[type="email"] {
  width: 35rem;
  border: none;
  outline: none;
  padding: 1.5rem 1rem;
  margin-bottom: 1.2rem;
  border-radius: 5px;
  font-size: 1.7rem;
  color: var(--headings-color);
}

textarea {
  width: 35rem;
  height: 20rem;
  resize: none;
  border-radius: 8px;
  color: #b3bac5;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.04rem;
  font-size: 1.5rem;
  border: none;
  outline: none;
}

.btn-contact {
  position: relative;
  bottom: 0;
  left: -8rem;
  letter-spacing: 0.05rem;
  white-space: nowrap;
  width: 15rem;
  text-align: center;
}

.about-section p:last-of-type {
  bottom: 1.5rem;
  color: #7f8cff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0;
  position: relative;
}

.headline-section p:last-of-type {
  bottom: 0.3rem;
  color: #7f8cff;
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0;
  position: relative;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 2rem;
    line-height: 2.8rem;
    height: 100vh;
  }

  h1,
  h2 {
    color: #091e42;
    transition: transform 0.5s;
  }

  h1 {
    font-size: 5.3rem;
    line-height: 6rem;
    letter-spacing: 0.05rem;
  }

  h2 {
    font-size: 4.5rem;
    line-height: 5.2rem;
  }

  h3 {
    font-size: 1.9rem;
    line-height: 2.4rem;
    font-weight: 500;
  }

  header {
    height: 7rem;
    padding-bottom: 2.5rem;
  }

  nav {
    margin-right: 9rem;
    margin-top: 2.5rem;
  }

  /* Animations and Transformations */

  nav ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--primary-color);
    display: block;
    margin: auto;
    transition: 0.6s;
  }

  nav ul li:hover::after {
    width: 100%;
  }

  .logo {
    margin-left: 15rem;
    margin-top: 2.5rem;
    padding: 0;
  }

  .logo:hover {
    color: #7783f0;
  }

  .move-text:hover {
    transform: translate(30px);
  }

  .text-scale:hover {
    transform: scale(1.05);
  }

  .image-scale:hover {
    transform: scale(1.05);
  }

  @keyframes rotate {
    0% {
      transform: rotate(45deg);
    }

    25% {
      transform: rotate(90deg);
    }

    50% {
      transform: rotate(180deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .animation-rotate {
    animation: rotate 0.5s linear 1s;
  }

  @keyframes slide {
    0% {
      transform: translate(750px);
    }

    15% {
      transform: perspective(-200px) translateZ(-50px);
      color: #838ffc;
    }

    25% {
      transform: perspective(-200px) translateZ(-100px);
      color: #aab3ff;
    }

    50% {
      transform: perspective(-200px) translateZ(-150px);
      color: #d3d7fc;
    }

    100% {
      transform: scale(1.2);
      color: #ebedff;
    }
  }

  .animation-slide {
    animation: slide 0.7s ease-out 1.3s;
  }

  /* ---------- */

  .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .nav-links li {
    padding-right: 6rem;
  }

  .nav-links li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    line-height: 2rem;
  }

  nav .fa {
    display: none;
  }

  .headline-section {
    height: 90vh;
    background: var(--body-color) url(https://shaqdeff.github.io/Shaquille-Portfolio//images/desktop-header-bg.svg);
    background-position: center;
    background-size: 100% 99%;
    border-bottom-left-radius: 175px;
    margin-top: 6.5rem;
  }

  .headline-section h1 {
    margin-left: 40rem;
    top: -2rem;
  }

  .headline-section p {
    margin-left: 40rem;
    width: 50%;
    top: -2rem;
    letter-spacing: 0.03rem;
    font-size: 2rem;
    transition: transform 0.5s;
  }

  .header-icons {
    margin-left: 37.5rem;
    top: -2rem;
  }

  .works {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 10rem;
  }

  .card {
    width: 150rem;
    height: 63rem;
    display: flex;
    flex-direction: row;
    border-radius: 32px;
    margin-bottom: 5rem;
  }

  .card__image {
    display: none;
  }

  .card__image2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 3rem;
    transition: transform 0.5s;
  }

  .card__title {
    display: none;
  }

  .card__title4 {
    top: 3rem;
  }

  .card-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: -12rem;
    padding-top: 2.5rem;
  }

  .subtitle__desk {
    gap: 2rem;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    left: 1.2rem;
    width: 24rem;
    bottom: 5rem;
    align-items: center;
    font-size: 1.9rem;
  }

  .card__subtitle {
    display: none;
  }

  .card__subtitle2 {
    display: none;
  }

  .card__subtitle3 {
    gap: 2rem;
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 1.9rem;
    position: relative;
    top: -5rem;
    left: 1.3rem;
  }

  .card__subtitlemobi {
    display: none;
  }

  .light-text {
    color: #6b778c;
    font-weight: 400;
  }

  .para-mobile {
    display: none;
  }

  .para-desk {
    position: relative;
    left: -0.5rem;
    width: 62rem;
    font-weight: 400;
    transition: transform 0.5s;
  }

  .para-desk2 {
    position: relative;
    left: -0.5rem;
    width: 62rem;
    font-weight: 400;
    transition: transform 0.5s;
  }

  .categories {
    display: none;
  }

  .categories-desk {
    align-items: center;
    bottom: 9rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start;
    left: -4.5rem;
    list-style: none;
    position: relative;
  }

  .categories-desk li {
    background: #ebebff;
    border-radius: 10px;
    color: #6070ff;
    font-size: 1.2rem;
    padding: 1px 10px;
  }

  .btn {
    font-size: 1.7rem;
    left: -0.5rem;
    margin-top: 1rem;
    width: 13rem;
    transition: background 0.4s ease-in;
  }

  .card--two {
    display: flex;
    flex-direction: row-reverse;
  }

  .card__title2 {
    display: none;
  }

  .card__title3 {
    position: relative;
    left: -27rem;
    white-space: nowrap;
    padding-top: 5rem;
  }

  .title__desk {
    bottom: 3.5rem;
    display: flex;
    justify-content: flex-start;
    left: 1.5rem;
    position: relative;
    top: 3rem;
    white-space: nowrap;
  }

  .card-items2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 37rem;
    padding-top: 10.5rem;
  }

  .card-items3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: -31.7rem;
    padding-top: 6rem;
  }

  .card-items4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    left: 37rem;
    padding-top: 8.5rem;
  }

  .about-section {
    margin-top: 15rem;
    border-top-right-radius: 175px;
    height: 100vh;
  }

  .about-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 22rem;
    margin-top: 26rem;
  }

  .about-section h2 {
    font-size: 5.3rem;
    line-height: 6rem;
    letter-spacing: 0.05rem;
    margin-left: 1.5rem;
  }

  .icon-list {
    margin-left: -0.3rem;
  }

  .btn-about {
    width: 17rem;
    height: 6rem;
    margin-left: 1.7rem;
  }

  .skills-container {
    width: 68rem;
    position: relative;
    left: 120rem;
    bottom: 48rem;
  }

  .language-title {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
  }

  .language-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    position: relative;
    left: -5rem;
  }

  .language-list li {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 120px;
  }

  .frameworks-title {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
  }

  .solid {
    width: 70%;
    position: relative;
    left: -14rem;
  }

  .skills-title {
    display: flex;
    justify-content: space-between;
    font-size: 2.2rem;
    left: -1rem;
  }

  .skills-title .fa {
    left: 13.6rem;
  }

  .form-container {
    top: -12rem;
    height: 100vh;
    width: 100%;
  }

  .contact-form {
    background: var(--primary-color) url(https://shaqdeff.github.io/Shaquille-Portfolio//images/contact-form-bg.svg);
    background-size: cover;
    height: 120vh;
    width: 100%;
    border-top-left-radius: 175px;
  }

  .contact-form h2 {
    font-size: 5.3rem;
    line-height: 6rem;
    letter-spacing: 0.05rem;
  }

  input[type="text"],
  input[type="email"] {
    width: 50rem;
    margin-bottom: 2rem;
  }

  textarea {
    width: 50rem;
  }

  .btn-contact {
    left: 1.2rem;
    width: 16rem;
  }

  .btn-contact:hover {
    background: #7f8cff;
    box-shadow: 3px 6px 16px rgba(64, 83, 252, 0.24);
    color: var(--body-color);
  }

  .about-section p:last-of-type {
    margin-left: 2rem;
    font-size: 2rem;
  }

  .headline-section p:last-of-type {
    margin-left: 40rem;
    font-size: 2.1rem;
  }
}
